{{> head }}

    {{> navbar }}

    <div class="row">
    
        <div class="col-8">

            <h1>   Capital America </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae doloremque aliquid molestiae ullam laboriosam pariatur labore odio hic maiores incidunt consequatur suscipit reiciendis adipisci, ipsam officiis tempore, qui excepturi consectetur?
                </p>
        </div>

        <div class="col-4">
            <img src="assets/img/captain.png" class="img-thumbnail"> 

        </div>
    </div>
    

{{> footer }}